table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    margin:  0px auto;
}

h1 {
    text-align: center;
}

img {
    width: 50px;
    height: 50px;
}

.c1 {
    background-color: red;
    color: white;
}

#filaGB>.GB{
    font-size: 40px;
    text-align: center;
    background-color: grey;
}

#filacolor ul {
    color: red;
    text-align: left;
}

#c {
    background-color: yellow;
    padding-top: 35px;
    padding-bottom: 35px;
}

#c3 {
    font-size: 100%;
    text-align: center;
}

.c2 {
    background-color: blue;
}
